{% extends 'players/base.html' %}
{% load static %}

{% block content %}
    {% if apps_from_server %}
        <main>
                <div class="container">
                    <div class="row">
                        {% for app in apps_from_server %}
                            <div class="card-deck">
                                <div class="col-sm-4">
                                    <div class="card text-center" style="width: 12rem;">
                                        <img class="bd-placeholder-img card-img-top" src="{% static 'images/logo.png' %}"
                                             width="100%" height="150" alt="Card image">
                                        <div class="card-body">
                                            <p class="card-text">
                                                <b>{{app.AppName}}</b><br>
                                                <b>{{app.AppDesc}}</b><br>
                                            </p>
                                            <a class=".detailsToShow" href="{% url 'players:show_details' pk=app.AppId %}">
                                                <button type="submit" class="btn btn-secondary">Download</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>Internet Connection Problem</p><br>
                    <div class="container">
                        <div class="row">
                            <div class="card-deck">
                                <div class="col-sm-4">
                                    <div class="card text-center" style="width: 13rem;">
                                        <img class="card-img-top" src="{% static 'images/logo.png' %}" alt="Card image"
                                        width="100%" height="150">
                                        <div class="card-body">
                                            <p class="card-text"></p>
                                            <a href="{% url 'players:apps_list' %}" class="btn btn-secondary">Download</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </main>
    {% endif %}
<!--var divToHit = document.getElementById("dvtree");-->
<!--                var checkbox = document.createElement('input');-->
<!--                checkbox.type = "checkbox";-->
<!--                checkbox.name = "name";-->
<!--                checkbox.value = "value";-->
<!--                checkbox.id = "id";-->
<!--                var label = document.createElement('label');-->
<!--                label.htmlFor = "id";-->
<!--                label.appendChild(document.createTextNode(str));-->

<!--                add = divToHit.appendChild(checkbox)+divToHit.appendChild(label)-->

<!--$.each(treeData, function(name,hash){-->
<!--                            options += '<input type="checkbox" name="checkbox-' + hash + '" id="checkbox-' + hash + '" value="' + hash + '" class="custom" />';-->
<!--                            options += '<label for="checkbox-' + hash + '">' + name + '</label>';-->
<!--                        });-->

<!--                        $('#dvtree').append(options);-->

{% endblock %}