{% extends 'players/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="breadcrumb">
                <div class="items">
                </div>
            </div>
            <div id="dvtree">
            </div>
        </div>
    </div>

<script>
    let str='';
    let txt = '';
    let treeData = '';
    let nullParents = [];
    let notNullParents = [];
    var index = '';
    let res = "{{pk}}";
    $.ajax({
        url: '/return_json_value/'+res+'/',
        type: 'GET',
        crossDomain: true,
        datatype: "jsonp",
        success: function(data) {
            treeData = data.json_data;
            createTree();
	}

});

    function indeterminateCall(id){

    for (var j=0; j<treeData.length; j++){
        if(treeData[j]["ParentId"] !== null){
            if(treeData[j]["NodeId"].toString() === id.toString()){
                treeData[j].checked = true;
            }
             index = treeData[j].checked;
             if(index){
                console.log(treeData[j]);
             }
        }
        else{
                 if(treeData[j]["NodeId"].toString() === id.toString()){
                treeData[j].checked = true;
            }
             index = treeData[j].checked;
             if(index){
                console.log(treeData[j]);
             }
        }
    }
}


    function createTree(){
        str=str+'<ul>';
        for (let i = 0; i < treeData.length; i++) {
            if(treeData[i]["ParentId"] === null){
                str=str+'<li>\
                <input type="checkbox" class="box" id="box" onclick="indeterminateCall('+treeData[i]["NodeId"].toString()+');">\
                <a href="#" id="abc" onclick="populateTree('+treeData[i]["NodeId"].toString()+');">'+treeData[i]["NodeTitle"]+'</a></li>';
            }
        }

        str=str+'</ul>';

        $("#dvtree").html(str);

    }


    function populateTree(parentid)
    {
        let str = '';
        str=str+'<ul>';

        for (let i = 0; i < treeData.length; i++) {

            if(treeData[i]["ParentId"] !== null)
            {
            if(treeData[i]["ParentId"].toString() === parentid.toString())
                {
                str=str+'<li>\
                <input type="checkbox" class="box" id="box" onclick="indeterminateCall('+treeData[i]["NodeId"].toString()+');">\
                <a href="#" id="abc" onclick="populateTree('+treeData[i]["NodeId"].toString()+');">'+treeData[i]["NodeTitle"]+'</a></li>';
                }
            }
        }

        str=str+'</ul>';
        $("#dvtree").html(str);
         $(".items").empty();
        GetCrumb(parentid);
    }

function GetCrumb(id)
{
            for (let i = 0; i < treeData.length; i++) {

                if(treeData[i]["ParentId"] !== null)
                {
                    if(treeData[i]["NodeId"].toString() === id.toString())
                    {
                        $(".items").prepend(' > <a href="#" onclick="populateTree('+treeData[i]["NodeId"].toString()+');">'+treeData[i]["NodeTitle"].toString()+'</a>');
                        console.log(treeData[i]);
                        return GetCrumb(treeData[i]["ParentId"]);
                    }
                }
                else
                {
                    if(treeData[i]["NodeId"].toString() === id.toString())
                    { $(".items").prepend('<a href="#" onclick="populateTree('+treeData[i]["NodeId"].toString()+');">'+treeData[i]["NodeTitle"].toString()+'</a>');
                    }
                }
        }
<!--        return 0;-->
}




</script>
{% endblock %}