{% extends 'players/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="breadcrumb">
                <div class="items">
                </div>
            </div>
            <div id="dvtree">
            </div>
        </div>
    </div>

<script>
    let str='';
    let txt = '';
    let treeData = '';
    let nullParents = [];
    let notNullParents = [];
    var index = '';
    var indexes = [];
    var uniqueArray = [];
    let res = "{{pk}}";
    $.ajax({
        url: '/return_json_value/'+res+'/',
        type: 'GET',
        crossDomain: true,
        datatype: "jsonp",
        success: function(data) {
            treeData = data.json_data;
            createTree();
	}

});

    function createTree(){
        str=str+'<ul>';
        for (let i = 0; i < treeData.length; i++) {
            if(treeData[i]["ParentId"] === null){
                if(treeData[i].checked){
                    str=str+'<li>\
                <input type="checkbox" class="box" id="'+treeData[i]["NodeId"].toString()+'" checked="true" onchange="indeterminateCall(this);">\
                <a href="#" onclick="populateTree('+treeData[i]["NodeId"].toString()+');">'+treeData[i]["NodeTitle"]+'</a></li>';
                }
                else{
                    str=str+'<li>\
                <input type="checkbox" class="box" id="'+treeData[i]["NodeId"].toString()+'" onchange="indeterminateCall(this);">\
                <a href="#" onclick="populateTree('+treeData[i]["NodeId"].toString()+');">'+treeData[i]["NodeTitle"]+'</a></li>';
                }
            }
        }

        str=str+'</ul>';

        $("#dvtree").html(str);

    }


    function populateTree(parentid)
    {
        let str = '';
        str=str+'<ul>';

        for (let i = 0; i < treeData.length; i++) {
            if(treeData[i]["ParentId"] !== null)
            {
            if(treeData[i]["ParentId"].toString() === parentid.toString())
            {
                if(treeData[i].checked){
                    str=str+'<li>\
                <input type="checkbox" class="box" id="'+treeData[i]["NodeId"].toString()+'" checked="true" onchange="indeterminateCall(this);">\
                <a href="#" onclick="populateTree('+treeData[i]["NodeId"].toString()+');">'+treeData[i]["NodeTitle"]+'</a></li>';
                }
                else{
                    str=str+'<li>\
                <input type="checkbox" class="box" id="'+treeData[i]["NodeId"].toString()+'" onchange="indeterminateCall(this);">\
                <a href="#" onclick="populateTree('+treeData[i]["NodeId"].toString()+');">'+treeData[i]["NodeTitle"]+'</a></li>';
                }
             }

            }
        }

        str=str+'</ul>';
        $("#dvtree").html(str);
         $(".items").empty();
        GetCrumb(parentid);
    }

function GetCrumb(id)
{
            for (let i = 0; i < treeData.length; i++) {

                if(treeData[i]["ParentId"] !== null)
                {
                    if(treeData[i]["NodeId"].toString() === id.toString())
                    {
                        $(".items").prepend(' > <a href="#" onclick="populateTree('+treeData[i]["NodeId"].toString()+');">'+treeData[i]["NodeTitle"].toString()+'</a>');
                        return GetCrumb(treeData[i]["ParentId"]);
                    }
                }
                else
                {
                    if(treeData[i]["NodeId"].toString() === id.toString())
                    { $(".items").prepend('<a href="#" onclick="populateTree('+treeData[i]["NodeId"].toString()+');">'+treeData[i]["NodeTitle"].toString()+'</a>');
                    }
                }
        }
<!--        return 0;-->
}

function ticked(id){
console.log(id)
    for(var i=0; i<treeData.length; i++){
        if(treeData[i]["ParentId"] != null){
            if(treeData[i]["NodeId"].toString() === id.toString()){
                console.log(id.id + " checked");
                if(!treeData[i].checked){
                    treeData[i].checked = "true";
                    console.log(treeData[i]);


                    for(var j=0; j<treeData.length; j++){
                        if(treeData[j]["ParentId"] != null){
                            if(treeData[i]["NodeId"].toString() === treeData[j]["ParentId"].toString()){
                                ticked(treeData[j]["NodeId"]);
                            }
                        }
                    }
                }
            }
        }
        else{
            if(treeData[i]["NodeId"].toString() === id.toString()){
                console.log(id.id + " checked");
                if(!treeData[i].checked){
                    treeData[i].checked = "true";
                    console.log(treeData[i]);
                    for(var j=0; j<treeData.length; j++){
                        if(treeData[j]["ParentId"] != null){
                            if(treeData[i]["NodeId"].toString() === treeData[j]["ParentId"].toString()){
                                ticked(treeData[j]["NodeId"]);
                            }
                        }
                    }
                }
            }
        }
    }
}

function unticked(id){
    for(var i=0; i<treeData.length; i++){
        if(treeData[i]["ParentId"] != null){
            if(treeData[i]["NodeId"].toString() === id.toString()){
                console.log(id.id + " not checked");
                delete treeData[i].checked;
                console.log(treeData[i]);
                for(var j=0; j<treeData.length; j++){
                    if(treeData[j]["ParentId"] != null){
                        if(treeData[i]["NodeId"].toString() === treeData[j]["ParentId"].toString()){
                            unticked(treeData[j]["NodeId"]);
                        }
                    }
                }
            }
        }
        else{
            if(treeData[i]["NodeId"].toString() === id.toString()){
                console.log(id.id + " not checked");
                delete treeData[i].checked;
                console.log(treeData[i]);
                for(var j=0; j<treeData.length; j++){
                    if(treeData[j]["ParentId"] != null){
                        if(treeData[i]["NodeId"].toString() === treeData[j]["ParentId"].toString()){
                            unticked(treeData[j]["NodeId"]);
                        }
                    }
                }
            }
        }
    }
}


function indeterminateCall(id){
    if($(id).is(":checked")){
        ticked(id.id);
    }
    else{
        unticked(id.id);
    }

}

</script>
{% endblock %}